.submitForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.submitForm__input {
  border: 1px pink solid;
  border-radius: 20px;
}
.submitForm__message {
  border: 1px palevioletred solid;
  border-radius: 20px;
  outline: none;
  padding: 10px;

  width: 100%;
}
.submitForm__button {
  border: 1px orange solid;
  border-radius: 20px;
  width: 100%;
  background-color: orange;
}
